:root{
--theme-color: #0e0e31;
--gray90: #0a0a23;
--gray85: #1b1b32;
--gray80: #2a2a40;
--gray75: #3b3b4f;
--gray45: #858591;
--gray15: #d0d0d5;
--gray10: #dfdfe2;
--gray05: #eeeef0;
--gray00: #fff;
--header-height: 38px;
--blue-dark: #002ead;
}
body{
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}
#main{
    background-color: white;
    width: 80%;
    margin: auto;  
    font-size: 115%;
}
h1{
    color: var(--gray90);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.15;
    text-align: center;
}
a {
    background-color: var(--theme-color);
    display: flex;
    justify-content: center;    
    color: var(--gray00);
    text-decoration: none;
    font-size: 19px;
    text-align: center;
}