:root{
--theme-color: #0e0e31;
--gray90: #0a0a23;
--gray85: #1b1b32;
--gray80: #2a2a40;
--gray00: #fff;
--header-height: 38px;
--blue-dark: #002ead;
}
body{
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
}
#main{
    background-color: white;
    width: 80%;
    margin: auto;  
    font-size: 115%;
    padding-left: 10px;
    padding-right: 10px;
}
h1{
    color: var(--gray90);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.15;
    text-align: center;
}
#head{
    background-color: var(--theme-color);
    display: flex;
    justify-content: center;    
    color: var(--gray00);
    text-decoration: none;
    font-size: 19px;
    text-align: center;
}
h2{
    color: var(--gray85);
}
h3{
    color: var(--gray80);
    padding-left: 35px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#firstimg{
    height: 30%;
    margin-top: -20px;
}
#thirdimg{
    width: 90%;
}